{% extends "courses/content/quiz/quiz_base.html" %}
{%load static%}

{% block scripts%}
    <script src="{% static "quizes/main.js" %}" defer></script>
{% endblock scripts%}

{% block content%}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start Quiz?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
        <button type="button" id="start-button" class="btn btn-success">yes</button>
      </div>
    </div>
  </div>
</div>
<!--
<div class="h1">Quiz {{object.pk}}</div>
-->
<hr>

    <button
        class = "btn btn-link modal-button"
        data-pk="{{object.pk}}"
        data-quiz="{{object.title}}"
        data-questions="{{object.number_of_questions}}"
        data-difficulty="{{object.difficulty}}"
        data-time="{{object.time}}"
        data-pass="{{object.required_score_to_pass}}"
        data-toggle="modal"
        data-target="#quizStartModal" >
        Start Quiz
        </button><br>

{% endblock content%}